body {
				font-family: 'Qartella';
				font-weight: 300;
				font-style: normal;
				margin: 0;
				background: #ebebeb;
				overflow: hidden;
}
.ww {
    font-family: 'Neon Bold Outline';
    font-weight: bold;
    font-style: normal;
    font-size: 17px;
}

.container {
	width: calc(100% - 20px);
	max-width: 900px;
	height: calc(100vh - 200px);
	margin: auto;
	padding-top: 100px;
	padding-bottom: 100px;

	position: relative;
	transition: transform 0.4s ease-in-out;
}
.contents {
	width: calc(100% - 20px);
	max-width: 900px;
	height: calc(100vh - 200px);
	padding-top: 100px;
	padding-bottom: 100px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;

	position: absolute;
	transform: translateY(100%);

	opacity: 0;
	pointer-events: none;
}
.contents.active {
	transform: translateY(0%);
	opacity: 1;
	pointer-events: all;
}

.card {
	width: calc(70% - 40px);
	height: fit-content;
	border-radius: 40px;
	padding: 20px;
	box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.69),
		-8px -8px 16px rgba(255, 255, 255, 0.5);
}

body:has(img.bg) .card {
	box-shadow: 8px 8px 16px rgba(255, 255, 255, 0.6),
		-8px -8px 16px rgba(255, 255, 255, 0.4);
}

.form {
	--width-of-input: 100%;
	--border-height: 1px;
	--border-before-color: #CCC;
	--border-after-color: #1181A9;
	--input-hovered-color: #FFF;
	position: relative;
	width: var(--width-of-input);
}


.input {
	color: #000;
	font-size: 1.6rem;
	background-color: transparent;
	width: 100%;
	box-sizing: border-box;
	padding-inline: 0.5em;
	padding-block: 0.7em;
	border: none;
	border-bottom: var(--border-height) solid var(--border-before-color);
}


.form.mini .input {
	font-size: 16px;
}

.input-border {
	position: absolute;
	background: var(--border-after-color);
	width: 0%;
	height: 2px;
	bottom: 0;
	left: 0;
	transition: 0.3s;
}

.form:has(textarea) .input-border {
	bottom: 2px;
}
.form textarea {
	resize: vertical;
}
.form a {
	float: right;
	transform: translateY(-55px);
}
.form.mini a {
	transform: translateY(-45px);
}
.card .embed:first-child	{
	margin-top: 0;
}

/*input:hover, textarea:hover {
	background: var(--input-hovered-color);
}*/

input:focus, textarea:focus {
	outline: none;
}

input:focus~.input-border, textarea:focus~.input-border {
	width: 100%;
}

button {
	color: #090909;
	padding: 0.7em 1.7em;
	font-size: 18px;
	border-radius: 0.5em;
	background: #e8e8e8;
	cursor: pointer;
	border: 1px solid #e8e8e8;
	transition: all 0.3s;
	box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

button:hover {
	border: 1px solid white;
}

button:active {
	box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

button.action {
	position: absolute;
	bottom: 100px;
	right: 0;
}
button:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}


a:hover,
a:focus,
a:active {
	color: #333;
	text-decoration: none;
}

a {
	text-decoration: none;
	transition: color 0.1s, background-color 0.1s;
	color: #333 !important;
	width: fit-content !important;
}

a.action {
	position: absolute;
	bottom: 100px;
	left: 0;
}

a {
	position: relative;
	display: block;
	padding: 16px 0;
	margin: 0 12px;
	letter-spacing: 1px;
	font-size: 12px;
	line-height: 16px;
	font-weight: 900;
	cursor: pointer;
	transition: color 0.1s, background-color 0.1s, padding 0.2s ease-in;
}

a::before {
	content: '';
	display: block;
	position: absolute;
	bottom: 3px;
	left: 0;
	height: 3px;
	width: 100%;
	background-color: #333;
	transform-origin: right top;
	transform: scale(0, 1);
	transition: color 0.1s, transform 0.2s ease-out;
}

a:active::before {
	background-color: #000;
}

a:not(a:has(svg)):hover::before,
a:focus::before,
a.active::before {
	transform-origin: left top;
	transform: scale(1, 1);
}
.records {
    display: flex;
    flex-direction: row;
    margin: 5px 0px;
    padding: 10px;
}
.records p {
    margin: 0 !important;
}
.records p:nth-child(1) {
    width: 20%;
}
.records p:nth-child(2) {
    width: 30%;
}
.records p:nth-child(3) {
    width: 50%;
}
.embed {
    width: calc(100% - 20px);
    height: fit-content;
    background-color: #FFF;
    border-radius: 15px;
    padding: 10px;
				margin-top: 10px;
}
.embed xmp {
    margin: 0;
}


#nameResponse {
	float: right;
	height: 30px;
}
svg.loader {
 width: 30px;
 transform-origin: center;
 animation: rotate4 2s linear infinite;
}

circle {
 fill: none;
 stroke: #1181A9;
 stroke-width: 5;
 stroke-dasharray: 1, 200;
 stroke-dashoffset: 0;
 stroke-linecap: round;
 animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
 100% {
  transform: rotate(360deg);
 }
}

@keyframes dash4 {
 0% {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
 }

 50% {
  stroke-dasharray: 90, 200;
  stroke-dashoffset: -35px;
 }

 100% {
  stroke-dashoffset: -125px;
 }
}



/* Action Menu */



@keyframes actionMenuPopUp {
	from {
					top: var(--t1);
					left: calc(var(--l) + 120px);
					width: 0px;
					height: 0px;
	}
	to {
					top: var(--t);
					left: var(--l);
					width: 120px;
					height: var(--h);
	}
}
@keyframes actionMenuPopUpBig {
	from {
					top: var(--t1);
					left: calc(var(--l) + 120px);
					width: 0px;
					height: 0px;
	}
	to {
					top: var(--t);
					left: var(--l);
					width: 200px;
					height: var(--h);
	}
}
.actionMenu {
	top: var(--t);
	left: var(--l);
	width: 120px;
	height: var(--h);
	position: absolute;
	width: 120px;
	height: fit-content;
	border-radius: 20px;
	padding: 10px;
	text-align: left;
	z-index: 997;
	overflow: hidden;
	animation: actionMenuPopUp 0.2s;
	transition: all 0.2s !important;
	box-shadow:  8px 8px 16px #b0b0b0,
									-8px -8px 16px #ffffff,
									inset 4px 4px 8px rgba(0, 0, 0, 0.1),
									inset -4px -4px 8px rgba(255, 255, 255, 0.7);

	user-select: none !important;
}
.actionMenu.big {
	width: 200px;
	animation: actionMenuPopUpBig 0.2s;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	.actionMenu {
					-webkit-backdrop-filter: blur(10px);
					backdrop-filter: blur(10px);
					background-color: rgba(255, 255, 255, 0.3);
	}
	.studio .user {
					-webkit-backdrop-filter: blur(10px);
					backdrop-filter: blur(10px);
	}
}
.actionMenu .action {
	width: 100px;
	height: 20px !important;
	z-index: 997;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
}
.actionMenu.big .action {
	width: 180px !important;
}
.actionMenu .action:hover {
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.1);
}
.actionMenu .action:not(:last-child) {
	margin-bottom: 5px;
}
.action svg {
	transform: translateY(-3px);
	fill: #FDD94D;
	margin-right: 10px;
}
.action img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	transform: translateY(-4px);
}
.actionMenu hr {
	border: #CCC 0.5px solid;
	margin-top: 4.5px;
	margin-bottom: 4.5px;
}
.actionMenu .action p {
	margin: 0;
	width: 4ch !important;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display: inline-block;
	font-size: 18px;
	transform: translateY(-2px);
	color: #000;
}
.actionMenu.big .action p {
	width: 9ch !important;
}
.actionMenuBg {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 996;
}




@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	.version {
					-webkit-backdrop-filter: blur(10px);
					backdrop-filter: blur(10px);
					background-color: rgba(244, 243, 238, 0.4);
	}
	#app {
					-webkit-backdrop-filter: blur(10px);
					backdrop-filter: blur(10px);
					background-color: rgba(244, 243, 238, 0.4);
	}
}
.version {
	border: 1px #CCC solid;
	color: #333;
	padding: 0px 10px;
	border-radius: 10px;
	z-index: 999;
	width: calc(100% - 20px);
	transition: all 0.2s;
	height: 45px;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
}
.version p {
	font-size: 14px;
	transition: all 0.2s;
}
.version svg:not(.v svg), .version img[src$=".svg"]:not(.v img) {
	float: right;
	transition: all 0.2s;
}
.version img:not(.v img) {
	display: none;
}
.v img[src$=".svg"], .v img[src$=".png"] {
	float: left;
	width: 20px;
	height: 20px;
}
.v img[src$=".png"] {
	margin-left: 10px;
}
.version .v {
	font-size: 16px;
	color: #000;
	padding: 11px 10px 9px 10px;
	background-color: transparent;
	border-radius: 5px;
	width: calc(100% - 40px);
	transition: all 0.2s;
	margin: 0;

	position: absolute;
	top: 5px;
	display: none;
}
.version .v:first-child {
	margin-top: -10px !important;
}
.version .v:hover {
	background-color: rgba(0, 0, 0, 0.2);
}
.version svg, .version img[src$=".svg"] {
	fill: #999;
	transform: translateY(-1px);
	margin-left: 10px;
	margin-right: 10px;
}